---
import type { CollectionEntry } from "astro:content";
import IconEdit from "@/assets/icons/IconEdit.svg";
import { SITE } from "@/config";

type Props = {
  hideEditPost?: CollectionEntry<"blog">["data"]["hideEditPost"];
  class?: string;
  post: CollectionEntry<"blog">;
};

const { hideEditPost, post, class: className = "" } = Astro.props;

const href = `${SITE.editPost.url}${post.filePath}`;
const showEditPost =
  SITE.editPost.enabled && !hideEditPost && href.trim() !== "";
---

{
  showEditPost && (
    <a
      href={href}
      target="_blank"
      rel="noopener noreferrer"
      class:list={[
        "group flex items-center gap-2 text-sm text-foreground/60 transition-colors duration-300 hover:text-accent",
        className,
      ]}
    >
      <IconEdit class="size-4.5 transition-transform duration-300 group-hover:-translate-y-0.5 group-hover:scale-110" />
      <span class="font-firacode tracking-wide">{SITE.editPost.text}</span>
    </a>
  )
}
